@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700&family=Poppins:wght@300;400&family=Roboto&family=Tektur&family=Unlock&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#e96443, #904e95);
}
.calender {
  width: 300px;
  height: 250px;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 12px;
  font-size: 4rem;
}
.left,
.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-size: 24px;
  border-radius: 12px;
}

.right {
  background: #3a6073;
  color: #fff;
}

#year {
  margin-bottom: 10px;
}

#date {
  font-size: 6rem;
}
